
@media screen and (max-width:1400px) {
    .main-slider-two__title{
        font-size: 48px;line-height: 56px;
    }
    .main-slider-two p,
    .main-slider-two__sub-title{
        font-size: 14px;line-height: 22px;
    }    
}
@media screen and (max-width:1199px) {
    .main-menu__logo img{
        max-height: 65px;
    }
    .why-choose-one__right, .why-choose-one__left{
        max-width: none;
    }
    .section-title {
        margin-bottom: 40px;
    }
    .page-header {
        padding: 100px 0 100px;
    }
    .contact-page, .inquiry-page, .spa-center-three, .product-details, .product, .why-choose-one, .instagram, .counter-one, .about-one, .process-one{
        padding: 80px 0 50px;
    }
}
@media screen and (max-width:1100px) {        
    .main-slider-two__title{
        font-size: 46px;line-height: 54px;margin-top: 20px;margin-bottom: 25px;
    }
    .main-slider-two p,
    .main-slider-two__sub-title{
        font-size: 14px;line-height: 24px;
    }
    .thm-btn{
        padding: 10px 30px 10px;
    
    }
    .spa-center__title{
        font-size: 42px;line-height: 56px;
    }
    .product-description .contact-us, .product-details .contact-us{
        margin-top: 20px;
    }
}
@media screen and (max-width:1023px) {     
    .main-menu__logo{
        padding: 10px 0;
    }   
    .main-menu__logo img{
        max-height: 50px;
    }
    .why-choose-one__faq .faq-one-accrodion .accrodion-content p, p{
        font-size: 14px;line-height: 22px;
    }
    div.mxdialog div.body {
        padding: 30px 15px;max-width: 550px;
    }
    .mxdialog ul.form-list li{
        width: 100%;
    }
    .main-slider-two__title {
        font-size: 42px;line-height: 56px;max-width: 600px;
    }
    .main-slider-two p,
    .main-slider-two__sub-title {
        font-size: 12px;line-height: 20px;
    }
    .thm-btn{
        padding: 10px 20px 10px;
    }
    .contact-page, .inquiry-page, .spa-center-three, .product-details, .product, .why-choose-one, .instagram, .counter-one, .about-one, .process-one{
        padding: 60px 0 40px;
    }
    .process-one__title{
        font-size: 20px;line-height: 26px;margin-top: 30px;margin-bottom: 12px;
    }
    .process-one__img-box{
        width: 120px;height: 120px;
    }
    .process-one__img img{
        padding: 15px;
    }
    .process-one__count {
        position: absolute;top: -10px;right: -10px;width: 40px;height: 40px;
    }
    .process-one__count:before{
        font-size: 20px;line-height: 42px;
    }
    .spa-center{
        padding: 30px 0 30px;
    }
    .spa-center__inner{
        padding: 40px 0 40px;
    }
    .section-title__title, .product-details__title, .spa-center__title{
        font-size: 36px;line-height: 44px;margin-top: 15px;margin-bottom: 25px;
    }
    .section-title__tagline{
        font-size: 14px;
    }
    .about-one__right .section-title, .section-title {
        margin-bottom: 35px;
    }
    .instagram__img{
        width: 150px;height: 150px;
    }
    .counter-one__count-box span{
        font-size: 40px;width:28px;
    }
    .site-footer__top {
        padding-top: 60px;padding-bottom: 0;
    }
    .footer-widget__links-list li, .footer-widget__links-list li a{
        font-size: 14px;line-height: 20px;
    }
    .sub-title {
        font-size: 14px;line-height: 24px;
    }
    .page-header {
        padding: 70px 0 70px;
    }
    .page-header__inner h2 {
        font-size: 32px;line-height: 40px;margin-top: 5px;
    }
    .thm-breadcrumb li{
        font-size: 13px;
    }
    .section-title__title, .product-description__title, .services-details-two__text-3, .about-text-1{
        font-size: 18px; line-height: 22px;margin-bottom: 15px;
    }
    .spec-tbl th{
        font-size: 14px;
    }
    .spec-tbl td{
        font-size: 12px;
    }
    .spa-center-three__single{
        padding: 15px;margin-bottom: 10px;
    }
    .contact-page__form-input-box input[type="text"], .contact-page__form-input-box input[type="email"]{
        font-size: 14px;
    }
    ul.mx-list li{
        font-size: 14px;line-height: 22px;
    }
    .product-details .contact-us{
        margin-top: 25px;
    }
    .product-description{
        padding: 0;
    }
    section.page-404{
        padding: 40px 0;
    }
    .mxdialog.alert-popup .content{
        font-size:16px ;line-height: 28px;
    }
    .motor-details h4{
        font-size: 22px;line-height: 34px;padding: 0;
    }
    .productInquiryForm ul.form-list li.requirement-replacement{
        margin-bottom: 10px;
    }
    .productInquiryForm ul.form-list li{
        margin: 0px 0 15px;
    }
}
@media screen and (max-width: 768px){    
    .main-menu__logo img{
        max-height: 40px;
    }    
    .sub-title {
        font-size: 13px;line-height: 22px;
    }
    .why-choose-one__faq .faq-one-accrodion .accrodion-content p, p{
        font-size: 13px;line-height: 22px;
    }
    .contact-page, .inquiry-page, .spa-center-three, .product-details, .product, .why-choose-one, .instagram, .counter-one, .about-one,.process-one{
        padding: 40px 0 30px;
    }
    div.mxdialog div.body{
        padding: 25px 10px;width: 100%;min-width: auto;margin: 15px;
    }
    .main-slider-two__content{
        /* padding: 15px; */padding: 15px 15px 60px;
    }
    .main-slider-two__title{
        font-size: 22px;line-height: 30px;margin-top: 10px;margin-bottom: 15px;
    }
    .main-slider-two p,
    .main-slider-two__sub-title {
        font-size: 11px;line-height: 18px;
    }
    .main-slider-two__btn-box{
        text-align: center;
    }
    .thm-btn{
        margin-bottom: 10px;padding: 5px 7px 5px;margin-right: 7px;
    }
    .process-one__title{
        font-size: 18px;line-height: 22px;margin-top: 20px;margin-bottom: 7px;
    }    
    .process-one__count {
        position: absolute;top: -7px;right: -7px;width: 30px;height: 30px;
    }
    .process-one__count:before{
        font-size: 16px;line-height: 32px;
    }
    .process-one__img-box{
        width: 80px;height: 80px;
    }
    .section-title__title, .product-description__title, .product-details__title, .spa-center__title{
        font-size: 26px;line-height: 34px;
    }
    .about-one__right .section-title, .section-title {
        margin-bottom: 20px;
    }
    .section-title__tagline{
        font-size: 13px;
    }
    .instagram__img{
        width: 120px;height: 120px;
    }
    .site-footer__top {
        padding-top: 30px;
    }
    .footer-widget__links {
        margin-top: 20px;margin-bottom: 30px;
    }
    .footer-widget__social-box{
        margin-top: 0;
    }
    .footer-widget__links-list li, .footer-widget__links-list li a{
        font-size: 13px;line-height: 18px;
    }
    .page-header {
        padding: 40px 0 40px;
    }
    .page-header__inner h2 {
        font-size: 26px;line-height: 36px;
    }
    .thm-breadcrumb li{
        font-size: 12px;
    }
    .about-one__right{
        margin-left: 0;
    }
    .services-details-two__text-3, .about-text-1{
        font-size: 16px; line-height: 20px;margin-bottom: 10px;
    }
    .services-two__list li{
        flex-flow: column;align-items: flex-start;
    }
    .services-two__services-name{
        margin-bottom: 15px;
    }
    .contact-page__form-input-box input[type="text"], .contact-page__form-input-box input[type="email"]{
        font-size: 13px;height: 37px;
    }
    ul.mx-list li{
        font-size: 13px;line-height: 20px;
    }
    .inquiry-wrap>div{
        width: 100%;
    }
    .productInquiryForm .w-100 > ul.form-list li{
        width: 100%;
    }
    .product-details .contact-us{
        margin-top: 15px;
    }
    .productInquiryForm .motor-details ul.form-list li,.contact-page__form-input-box li{
        width: 100%;padding: 0 0 15px;
    }
    .contact-page__form-input-box ul,.productInquiryForm ul.form-list{
        padding: 0;
    }
    .productInquiryForm .w-100 > ul.form-list li{
        margin-right: 0;
    }

    /* page not found */
    section.page-404 h1{
        font-size: 30px; line-height: 42px;
    }
    section.page-404 p {
        font-size: 13px;line-height: 20px;
    }
    .mxdialog.alert-popup .content{
        font-size:14px ;line-height: 26px;
    }
    .motor-details h4{
        font-size: 18px;line-height: 26px;
    }
    div.mxdialog div.select-box select, div.mxdialog input[type=text], div.mxdialog input[type=password], div.mxdialog div.select-box:after{
        height: 35px;font-size: 12px; line-height: 16px;
    }
    div.mxdialog textarea{
        height: 80px;
    }
    .mxdialog ul.form-list li {
        margin: 0 10px 15px;
    }
    ul.mx-list li i.chk{
        font-size: 12px;line-height: 16px;
    }
    p.e{
        font-size: 10px;line-height: 14px;
    }
    div.mxdialog div.body .form-wrap {
        max-height: 75vh;
        overflow: auto;
    }
}