*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*PROGRESS BAR==================================================*/
div#mxloader {
    display: block;
    z-index: 6;
}

div#mxmsg {
    display: none;
    min-height: 30px;
    min-width: 100%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: 2.0rem;
    color: #1A6B30;
    background-color: #FFF;
}

div.progress {
    display: block;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    background: #828282;
    display: none;
}

.spinner {
    width: 100%;
    height: 100%;
    background-image: url(../images/loader.svg    );
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-align: right;
    vertical-align: top;
    color: #dc0000;
    padding: 3px;
}

.spinner div {
    display: none;
}

fieldset {
    float: left;
    width: calc(100% - 30px);
    margin-left: 15px;
    border: 2px solid #dcdcdc;
    padding: 15px;
}

fieldset legend {
    font-size: 1.8rem;
}

fieldset legend h3 {
    font-size: 100%
}

img {
    /* width: 100%; */
    max-width: 100%;
}

/*ERROR MESSAGE==================================================*/
p.e {
    font-family: var(--mellis-font);
    width: 100%;
    margin: 4px 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: red;
    font-weight: normal;
}

/*MX DIALOGUE==================================================*/
a.del {
    display: inline-block;
    width: 25px;
    height: 26px;
    border: 1px solid #a0a0a0;
    position: relative;
}

a.del:before,
a.del:after {
    content: "";
    width: 1px;
    height: 14px;
    background: #a0a0a0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5px;
    margin-top: -7px;
    transition: all ease-in-out 0.3s;
}

a.del:before {
    transform: rotate(45deg)
}

a.del:after {
    transform: rotate(-45deg)
}

a.del:hover {
    background: var(--mellis-base);
    border: 1px solid var(--mellis-base)
}

a.del:hover:before,
a.del:hover:after {
    background: var(--mellis-base);
}

a.del:hover:before {
    transform: rotate(-45deg);
    background: #fff;
}

a.del:hover:after {
    transform: rotate(45deg);
    background: #fff;
}

/*-------------*/
div.mxdialog,
div#mxloader {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: auto;
    scrollbar-color: #777777 #eeeeee;
    scrollbar-width: thin;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

div.mxdialog h2 {
    width: 100%;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #eaeaef;
    font-size: 16px;
    font-weight: 500;
    color: var(--mellis-base);
    text-transform: uppercase;
    line-height: 22px;
}

div.mxdialog div.body {
    display: flex;
    justify-content: center;
    /*  max-height:80%;*/
    max-width: 720px;
    background: #ffffff;
    border: 0px solid #A0A0A0;
    padding: 20px 20px 20px 24px;
    flex-flow: row wrap;
    position: relative;
    min-width: 500px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}

div.mxdialog div.popup-box {
    overflow-y: scroll;
}

div.mxdialog div.content {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px 12px 0px 0px;
    max-height: 64vh;
    overflow: auto;
    overflow-y: auto;
    scrollbar-color: #777777 #eeeeee;
    scrollbar-width: thin;
    font-size: 1.5rem;
}

div.mxdialog div.content p {
    font-size: 1.5rem
}

div.mxdialog div.content p img {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important;
}

div.mxdialog .thm-btn {
    padding: 12px 49px 12px;
}

div.mxdialog div.mx-btn a.button {
    margin: 0px 5px;
}

div.mxdialog textarea,
div.mxdialog div.select-box select,
div.mxdialog input[type=text],
div.mxdialog input[type=password],
div.mxdialog div.select-box:after {
    border: 0;
    width: 100%;
    border: none;
    height: 40px;
    background-color: var(--mellis-extra);
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    font-size: 14px;
    color: var(--mellis-black);
    display: block;
}

div.mxdialog a.del {
    position: absolute;
    right: -12px;
    top: -12px;
    background: var(--mellis-base);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 0;
    z-index: 4;
}

div.mxdialog a.del:before,
div.mxdialog a.del:after {
    background: #fff;
}

div.mxdialog div.cta {
    float: left;
    width: 100%;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}

div.mxdialog div.left {
    float: left;
    width: 40%;
    padding: 15px;
    background: #eee;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

div.mxdialog div.right {
    float: left;
    width: 60%;
    padding: 15px;
}

div.mxdialog div.img-box {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0 0 10px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
}

div.mxdialog div.img-box img {
    width: 100%;
}

div.mxdialog div.left h3,
div.mxdialog div.left h4 {
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    font-weight: normal;
}

div.mxdialog div.left h4 {
    font-size: 1.3rem;
    color: #868689;
    margin-top: 3px;
    margin-bottom: 15px;
}

/*MX DIALOGUE==================================================*/

/*MX FILE UPLOAD ==================================================*/

.mx-file-upload .drop {
    height: 40px;
    position: relative;
    font-size: 14px;
}

.mx-file-upload .drop a {
    overflow: hidden;
}

.mx-file-upload ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.mx-file-upload ul li {
    position: relative;
    border: 1px solid var(--mellis-bdr-color);
    margin-top: 15px;
}

.mx-file-upload ul li a {
    width: 58px;
    height: 58px;
}

.mx-file-upload ul li a.del.rs {
    width: 15px;
    height: 15px;
    right: -7px;
    top: -7px;
    border-radius: 50%;
}

.mx-file-upload ul li a.del.rs:before,
.mx-file-upload ul li a.del.rs:after {
    height: 9px;
    margin-left: -0.5px;
    margin-top: -4.5px;
}

.mx-file-upload .drop {
    font-weight: 700;
    font-size: 12px;
    color: var(--mellis-white);
    text-transform: uppercase;
    background-color: var(--mellis-base);
    padding: 14px 49px 14px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    overflow: hidden;
    letter-spacing: 0.2em;
    z-index: 1;
    text-align: center;
}

/* file upload */
.mx-file-upload {
    clear: both;
    /* float: left; */
    width: 100%;
}

.mx-file-upload div.drop::before {
    content: "";
    height: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    aspect-ratio: 1;
    background-image: url(../images/icons/upload.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.mx-file-upload .drop {
    /* float: left; */
    min-width: 250px;
    display: inline-flex;
    background-color: var(--mellis-base);
    text-align: center;
    vertical-align: middle;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    align-items: center;
    justify-content: center;
}

.mx-file-upload div.drop a:hover,
.mx-file-upload div.drop a {
    display: block;
    /* float: left; */
    width: auto;
    height: 40px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: all 500ms ease;
    z-index: 5;
    position: absolute;
}

.mx-file-upload div.drop::after {
    content: "Upload";
    color: var(--mellis-white);
    width: auto;
    height: 100%;
    z-index: 4;
    display: inline-flex;
    align-items: center;
}

.reference-document .mx-file-upload div.drop::after {
    content: 'Reference Document';
}

.visiting-card .mx-file-upload div.drop::after {
    content: 'Visiting Card';
}

.location-img .mx-file-upload div.drop::after {
    content: 'Location Image';
}

.mx-file-upload div.drop a:hover::after {
    background-color: var(--mellis-black);
    transition: all 500ms ease;
    border-radius: 6px;
}

.mx-file-upload div.drop input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

/*MX FILE UPLOAD ==================================================*/

/*SCROLL BAR CSS===================================*/
::-webkit-scrollbar {
    /*   width: 6px;
    height: 4px; */
    width: 2px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: var(--mellis-extra);
}

::-webkit-scrollbar-thumb {
    background: var(--mellis-base);
    padding: 0px 0px;
}


.mx-container {
    width: 100%;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

/* Nav css */
.main-menu__logo a {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.main-menu__logo img {
    height: 100%;
    max-height: 70px;
}

.dropdown a {
    position: relative;
    padding-right: 20px;
}

.dropdown a::after {
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.dropdown:hover a::after {
    transform: rotate(180deg);
}

.main-header__contact-list li .icon .fa-phone {
    transform: rotate(90deg);
}

/* features Start */

.process-one__img-box {
    width: 186px;
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-one__img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process-one__img img {
    border-radius: 0;
    padding: 40px;
}

.process-one__img i {
    font-size: 90px;
    border-radius: 50%;
    transition: all 500ms ease;
}

.process-one__single:hover .process-one__img i {
    transform: scale(1.2);
}

.process-one__title {
    color: var(--mellis-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.process-one__title:hover {
    color: var(--mellis-base);
}

/* features End */
/* challenging requirements Start */
.spa-center__inner .sub-title {
    font-size: 16px;
    color: var(--mellis-white);
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* challenging requirements */
/* Services Start =============== */
.why-choose-one {
    padding: 120px 0 90px;
}

/* .why-choose-one__left{
    height:100% ;
} */
.why-choose-one__img {
    width: 100%;
    height: 100%;
}

.why-choose-one__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Services End ======================*/
/* Our partners Start ============== */
.instagram {
    padding: 80px 0 60px;
}

.instagram .row {
    justify-content: center;
}

.instagram__img {
    width: 200px;
    height: 200px;
    padding: 15px;
    margin: auto;
}

.instagram__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.instagram__img:before {
    display: none;
}

/* Our partners End ============== */

.counter-one .row {
    justify-content: center;
}

/* footer */
.footer-widget__links-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    color: var(--mellis-gray);
}

.footer-widget__links-list li i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 18px;
    color: var(--mellis-base);
}

.footer-widget__links {
    margin-left: 0;
}

.footer-widget__links-list li:hover a {
    color: var(--mellis-gray);
}

.footer-widget__links-list li a:hover {
    color: var(--mellis-base);
}

/* product category */
/* price */
.product__price-ranger {
    margin-bottom: 30px;
}

.services-details-two__category-list>li a {
    padding: 15px 20px 15px;
    background-color: var(--mellis-base);
    color: var(--mellis-white);
}

.services-details-two__category-list>li:hover a {
    color: var(--mellis-white);
    background-color: var(--mellis-base);
}

.services-details-two__category-list>li span {
    padding: 15px 20px 15px;
    background-color: var(--mellis-base);
    color: var(--mellis-white);
    position: relative;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.services-details-two__category-list li a::before {
    position: absolute;
    top: 50%;
    left: 30px;
    height: 28px;
    width: 28px;
    background-color: var(--mellis-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mellis-gray);
    font-size: 14px;
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.services-details-two__category-list>li a::before {
    left: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    right: 20px;
    background-color: var(--mellis-base);
    color: var(--mellis-white);
}

.fa-angle-right:before {
    content: "\f105";
}

.services-details-two__category-list {
    background-color: transparent;
    box-shadow: none;
}

.services-details-two__category-list>li {
    background-color: var(--mellis-white);
    margin-bottom: 20px;
}

.services-details-two__category-list>li:hover a {
    box-shadow: none;
}

.services-details-two__category-list>li:hover li a {
    background-color: var(--mellis-white);
    color: var(--mellis-gray);
    box-shadow: none;
}

ul.sub-category {
    padding: 5px 15px 15px;
}

ul.sub-category li {
    position: relative;
    line-height: 24px;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--mellis-gray);
}

ul.sub-category li a {
    position: relative;
    display: block;
    line-height: 22px;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--mellis-gray);
    font-weight: 500;
    border-radius: 0;
    transition: all 0.3s ease;
    z-index: 1;
    padding: 9px 15px 9px 40px;
    background: var(--mellis-white);
    border-bottom: 1px solid var(--mellis-bdr-color);
}

ul.sub-category li.active a,
ul.sub-category li:hover a {
    color: var(--mellis-base);
    background: var(--mellis-extra);
    border-color: transparent;
}

ul.sub-category li a::before {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    opacity: 1;
    border-radius: 1px;
    width: 8px;
    height: 1px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    z-index: 1;
    background-color: var(--mellis-base);
}

/* sub-category */
ul.sub-category li.category-list {
    position: relative;
}

ul.sub-category li.category-list>a {
    padding: 9px 35px 9px 15px;
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0)
}

ul.sub-category li.category-list>a::before {
    display: none;
}

ul.sub-category li.category-list.active {
    border-color: 2px solid var(--mellis-gray);
}

ul.sub-category li.category-list.active>a {
    border-bottom: 1px solid var(--mellis-bdr-color);
}

ul.sub-category li.category-list>a::before,
ul.sub-category li.category-list>a::after {
    content: '';
    width: 15px;
    height: 2px;
    display: inline-block;
    background-color: var(--mellis-base);
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 9;
    left: auto;
}

ul.sub-category li.category-list>a::before {
    transform: rotate(90deg);
}

ul.sub-category li.category-list.active>a::before {
    transform: rotate(0deg);
}

ul.sub-category li.category-list ul {
    padding-left: 0;
    height: 0;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    height: 0;
    overflow: clip;
}

ul.sub-category li.category-list.active ul {
    height: auto;
}

ul.sub-category li.category-list.active ul a {
    background-color: var(--mellis-white);
    box-shadow: none;
    border-bottom: 1px solid var(--mellis-bdr-color);
    color: var(--mellis-black);
}

ul.sub-category li.category-list.active ul a:hover {
    color: var(--mellis-base);
    background-color: var(--mellis-extra);
    border-color: transparent;
}



/* product category */
/* product list */
.product-details__img,
.product__all-img {
    background-color: var(--mellis-extra);
}

.product__all-img {
    width: 100%;
    aspect-ratio: 1;
}

.product__all-content .product-short-description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    padding-bottom: 30px;
}

.product__all-single {
    border: 1px solid var(--mellis-bdr-color);
    height: calc(100% - 30px);
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 2;
}

.product__all-single::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--mellis-black-rgb), .50);
    -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-70%);
    transform: translateY(-70%);
    z-index: 2;
}

.product__all-single:hover::before {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
}

.product__all-img:before {
    display: none;
}

.product__all-price {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--mellis-base);
}

.product-description .contact-us,
.product-details .contact-us {
    margin-top: 50px;
}

.testimonial-two {
    padding: 80px 0 60px;
}

.services-two__services-price h4 a:hover {
    color: var(--mellis-base);
}

.product-details__content .sub-title {
    color: var(--mellis-gray);
    font-weight: 700;
    margin-bottom: 20px;
}

.Specifications {
    padding: 20px 0 50px;
    /* background-color: var(--mellis-extra); */
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}

.testimonial-two__shape-1 {
    top: 0;
}

.spec-tbl {
    border-radius: 5px;
    background-color: var(--mellis-white);
    overflow: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -moz-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -o-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -ms-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.spec-tbl th {
    font-size: 14px;
    color: var(--mellis-white);
    padding: 5px 5px;
    line-height: 1.4;
    background-color: var(--mellis-base);
    position: sticky;
    top: 0;
}

.spec-tbl th:nth-child(even) {
    background-color: #588dc5;
}

.spec-tbl td:nth-child(even) {
    background-color: rgb(0, 91, 171, .06);
}

.body-scroll {
    max-height: 70vh;
    width: 100%;
}

.spec-tbl {
    width: 100%;
}

.body-scroll table {

    width: 100%;

}

.spec-tbl td {
    padding: 5px;
    font-size: 12px;
    line-height: 1.8;
    border: none;
}

.spec-tbl td:last-child {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.spec-tbl td a {
    color: var(--mellis-base);
}

.spec-tbl tr:nth-child(even) {
    background-color: var(--mellis-extra);
}

.services-two__list {
    padding-bottom: 10px;
}

/* mx-Popup */
.mxdialog .section-title {
    width: 100%;
    margin-bottom: 10px;
}

.form-wrap {
    text-align: center;
}

.mxdialog ul.form-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    text-align: left;
}

.contact-page__form-input-box input[type="text"],
.contact-page__form-input-box input[type="email"] {
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-page {
    padding-top: 0 !important;
}

.contact-page__form-input-box textarea {
    padding: 20px;
    height: 156px;
}

.mxdialog ul.form-list li {
    width: calc(50% - 20px);
    margin: 0 10px 20px;
}

.mxdialog ul.mx-list li {
    font-size: 12px;
    line-height: 18px;
    margin-left: 0;
}

.mxdialog ul.form-list label {
    width: 100%;
    margin-bottom: 7px;
    font-size: 14px;
    display: none;
}

.mxdialog .contact-page__form-input-box textarea {
    padding: 15px;
    height: 100px;
}

div.mxdialog textarea {
    height: 80px;
}

.mxdialog ul.form-list li.chek {
    width: 100%;
}

.mxdialog ul.mx-list li {
    width: 100%;
}

.contact-page__form-input-box.text-message-box {
    height: auto;
}

ul.mx-list {
    padding: 0;
    list-style: none;
}

ul.mx-list li {
    position: relative;
    /* padding-left: 30px; */
    width: 100%;
}

.productInquiryForm ul.form-list li.requirement-replacement {
    margin-bottom: 0;
}

.productInquiryForm ul.form-list li ul.mx-list li {
    position: relative;
    width: auto;
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 0;
    height: auto;
}

.productInquiryForm ul.form-list li i.rdo,
.productInquiryForm ul.form-list li i.chk {
    padding-left: 26px;
    position: relative;
    font-style: normal;
}

i.rdo,
i.chk {
    left: 0;
    top: 0px;
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

i.rdo input,
i.chk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

i.rdo em,
i.chk em {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    z-index: 0;
    border: 1px solid var(--mellis-gray);
    border-radius: 0;
}

i.rdo em:after,
i.chk em:after {
    position: absolute;
    display: none;
    left: 4px;
    content: '';
    top: 1px;
    width: 7px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

i.rdo input:checked~em:after,
i.chk input:checked~em:after {
    display: block;
}

i.rdo em {
    border-radius: 50%;
}

i.rdo em:after {
    border-radius: 50%;
    border: 0;
    background-color: #fff;
    height: 8px;
    width: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

i.rdo input:checked~em,
i.chk input:checked~em {
    border: 1px solid var(--mellis-base);
    background-color: var(--mellis-base);
}

i.rdo em:after,
i.chk em:after {
    border-color: var(--mellis-white);
}

/* Contact us */
.contact-links-list li {
    position: relative;
    padding-left: 33px;
}

.footer-widget__links-list li::before,
.contact-links-list li:before {
    position: absolute;
    left: 0;
    top: 5px;
    content: "\f1ac";
    font-size: 18px;
    color: var(--mellis-base);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.footer-widget__links-list li::before {
    color: var(--mellis-gray);
}

.footer-widget__links-list li:nth-child(1)::before,
.contact-links-list li:nth-child(1):before {
    content: "\f3c5";
}

.footer-widget__links-list li:nth-child(2)::before,
.contact-links-list li:nth-child(2):before {
    content: "\f879";
}

.footer-widget__links-list li:nth-child(3)::before,
.contact-links-list li:nth-child(3):before {
    content: "\f879";
}

.footer-widget__links-list li:nth-last-child(2)::before,
.contact-links-list li:nth-last-child(2):before {
    content: "\f0e0";
}

.footer-widget__links-list li:nth-last-child(1)::before,
.contact-links-list li:nth-last-child(1):before {
    content: "\f3cd";
}

.contact-links-list li a {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: var(--mellis-gray);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.contact-links-list li a:hover {
    color: var(--mellis-base);
}

.inquiry-page {
    padding: 80px 0 60px;
}

.contact-page__form-input-box {
    display: flex;
    flex-flow: row wrap;
}

.contact-page__form-input-box li {
    width: 50%;
    padding: 15px;
    position: relative;
}

.contact-page__form-input-box li label {
    display: none;
}

.contact-page__form-input-box li.chek {
    width: 100%;
    padding: 0 15px;
}

.contact-page__form-input-box li ul.mx-list li {
    padding: 0;
}

ul li.chek label {
    display: none;
}

ul.mx-list li i.chk {
    padding-left: 26px;
    position: relative;
    font-style: normal;
    width: 100%;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}

ul.mx-list li i.chk input,
ul.mx-list li i.chk em {
    bottom: 0px;
}

.contact-page__form .thm-btn {
    margin: 10px 15px;
}

/* product-inquiry page */
.inquiry-wrap {
    display: flex;
    flex-flow: row wrap;
}

.inquiry-wrap>div {
    width: 50%;
}

.productInquiryForm {
    text-align: center;
}

.productInquiryForm ul.form-list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 15px;
    text-align: left;
}

.productInquiryForm ul.form-list li {
    margin: 0px 0 30px;
    position: relative;
}

div.mx-file-upload ul li {
    margin-bottom: 0;
}

textarea,
input[type=text],
input[type=password],
div.select-box,
div.select-box:after {
    height: 45px;
    width: 100%;
    border: none;
    background-color: var(--mellis-extra);
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    font-size: 14px;
    color: var(--mellis-gray);
    display: block;
}

div.select-box {
    min-width: 50px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

div.select-box select {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

div.select-box:after {
    content: '\2023';
    right: 0px;
    top: 0px;
    width: 35px;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    font-size: 2em;
    transform: rotate(90deg);
}

label {
    /* width: 100%;margin-bottom: 7px; */
    display: none;
}

ul.form-list li.Requirement {
    margin-bottom: 15px;
}

ul.form-list li.file {
    margin-bottom: 15px;
}

ul.form-list li.Requirement label,
ul.form-list li.requirement-replacement label {
    display: inline-block;
}

.motor-details ul.form-list {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
}

.motor-details ul.form-list li {
    width: 50%;
    padding: 0 15px;
}

.motor-details h4 {
    padding: 0 15px;
    margin: 0 0 15px;
    text-align: left;
    font-size: 24px;
    line-height: 36px;
}

.productInquiryForm .w-100>ul.form-list li {
    width: 50%;
    padding: 0;
    padding-right: 15px;
}

.productInquiryForm .thm-btn {
    min-width: 250px;
    margin-top: 20px;
    font-size: 16px;
}

.productInquiryForm ul.mx-list li {
    width: auto;
    display: inline-block;
    margin-right: 15px;
}

.productInquiryForm div.mx-file-upload ul {
    /* float: left; */
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

.productInquiryForm div.mx-file-upload ul li {
    width: 60px !important;
    height: 60px !important;
    margin: 10px 6px 0px 0px;
    padding: 0 !important;
    position: relative;
    border: 1px solid var(--mellis-base);
    padding-top: 10px;
}

div.mx-file-upload ul li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.mx-file-upload ul li a {
    width: 100%;
    height: 58px;
    overflow: hidden;
    text-align: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 100%;
    padding: 5px;
}

a.del.rs {
    position: absolute;
    width: 15px;
    height: 15px;
    right: -7px;
    top: -7px;
    background-color: var(--mellis-extra);
}

a.del.rs:hover {
    background-color: var(--mellis-base);
}

/* product-inquiry page */
/* about */
.about-one__left {
    margin: 0;
}

.about-one__right {
    margin-left: 30px;
}

.about-one__img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.about-one__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text-1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    color: var(--mellis-gray);
    font-family: var(--mellis-font-two);
    font-style: italic;
    margin-bottom: 29px;
}

.about-text {
    margin-bottom: 10px;
}

.services-details-two__points li::before {
    content: "\f00c";
    color: var(--mellis-base);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* mxpaging */
.mxpaging {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .mxpaging input{
    width: 40px;height: 28px;padding: 0px;text-align: center;border: 1px solid var(--mellis-bdr-color);outline: none;border-radius: 5px;background-color: var(--mellis-white);
} */
.mxpaging input {
    display: none;
}

.mxpaging div {
    padding: 0 10px;
}

.mxpaging .no-prev::before,
.mxpaging .prev::before {
    content: '\f104';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block
}

.mxpaging .no-next::before,
.mxpaging .next::before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block
}

.mxpaging .no-first::before,
.mxpaging .first::before {
    content: '\f100';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block
}

.mxpaging .no-last::before,
.mxpaging .last::before {
    content: '\f101';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block
}

.mxpaging a {
    display: inline-block;
    text-decoration: none;
    padding: 2px 7px;
    color: var(--mellis-gray);
    line-height: 18px;
    margin: 0 1px;
    border-radius: 3px;
    font-weight: normal;
}

.mxpaging a:hover {
    background-color: var(--mellis-extra);
    color: var(--mellis-black);
}

.mxpaging a.active {
    background-color: var(--mellis-base);
    color: var(--mellis-white);
}

.mxpaging .no-last,
.mxpaging .no-prev,
.mxpaging .no-next,
.mxpaging .no-first,
.mxpaging .no-last:hover,
.mxpaging .no-prev:hover,
.mxpaging .no-next:hover,
.mxpaging .no-first:hover {
    cursor: default;
    opacity: .3;
    color: var(--mellis-gray);
    background-color: transparent;
}


/* 404 page not found */
section.page-404 {
    text-align: center;
    padding: 70px .0;
}

section.page-404 .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

section.page-404 .img-box {
    max-width: 420px;
    display: inline-block;
}

section.page-404 h1 {
    color: var(--mellis-base);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin: 15px 0 5px;
}

section.page-404 p {
    font-size: 14px;
    line-height: 20px;
}

.product__items {
    height: 100%;
}

.no-rec {
    height: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mellis-base);
    font-size: 26px;
    line-height: 34px;
}

/*mxdialog alert-popup  */
.mxdialog.alert-popup {
    text-align: center;
}

.mxdialog.alert-popup .content {
    font-size: 18px;
    line-height: 30px;
}


/* ====  WAP CSS START  ============================================== */
.body-contener input[type="number"]::-webkit-outer-spin-button,
.body-contener input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.body-contener::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}

.body-contener {
    max-width: 414px;
    width: 100%;
    height: 100vh;
    margin: auto;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #ffffff;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--mellis-extra);
}

.body-contener header {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 20px;
    background-color: var(--mellis-extra);
    width: 100%;
}

.body-contener header .logo {
    max-height: 60px;
    width: auto;
}

.user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid var(--mellis-bdr-color);
}

.body-contener header span {
    width: calc(100% - 110px);
    display: inline-block;
    line-height: 1.6;
}

.body-contener header strong {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #157bba;
    font-weight: 600;
    font-family: var(--mellis-font);
    width: 65%;
    display: inline-block;
    width: 100%;
}

.body-contener header .thm-btn {
    margin: 0;
    padding: 7px 10px;
    min-width: unset;
    display: inline-flex;
    align-items: center;
}

.body-contener header .thm-btn::after {
    content: '';
    margin-left: 5px;
    background-image: url(../images/icons/logout.png);
    background-size: 14px;
    height: 1.4em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1;
}

.body-contener p.e {
    text-align: left;
    font-size: 10px;
    margin: 0;
    line-height: 1.4;
}


.body-contener textarea,
.body-contener input[type=text],
.body-contener input[type=password],
.body-contener div.select-box,
.body-contener div.select-box:after {
    height: 40px;
    background: #ebebeb;
    color: var(--mellis-black);
}


.body-contener ::placeholder {
    opacity: .7;
}

.body-contener .main-form label {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: var(--mellis-base);
    font-family: var(--mellis-font-two);
}

table.leave-details th {
    font-size: 14px;
    line-height: 18px;
}

table.leave-details th:first-child {
    text-align: left;
}


.body-contener .leaveUserFrm input[type=text],
.body-contener .leaveUserFrm input[type=password],
.body-contener .leaveUserFrm div.select-box,
.body-contener .leaveUserFrm div.select-box:after {
    height: 35px;
}

.body-contener .leaveUserFrm input[type=text],
.body-contener .leaveUserFrm input[type=password] {
    padding: 0 10px;
}

.body-contener .main-form table {
    border-spacing: 2px;
}

div.select-box:after {
    font-size: 20px;
}

.statusPopup {
    cursor: pointer;
}

.statusPopup span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: #157bba;
    border-radius: 50%;
    color: #fff;
    margin-left: 2px;
}

.body-contener .thm-btn {
    font-size: 12px;
    line-height: 22px;
    padding: 10px 18px;
    min-width: 150px;
}

.body-contener .main-form table td {
    vertical-align: top;
    width: 40%;
}

.body-contener .main-form table td:nth-child(1) {
    width: 60%;
}

/* ======= */
.body-contener .button {
    width: 100%;
    font-weight: 700;
    font-size: 12px;
    color: var(--mellis-white);
    text-transform: uppercase;
    background-color: var(--mellis-base);
    padding: 14px 49px 14px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    overflow: hidden;
    letter-spacing: 0.2em;
    z-index: 1;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0;

}

.body-contener .button::before {
    content: "";
    height: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    aspect-ratio: 1;
    background-image: url(../images/icons/add-photo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.body-contener .open-camera {
    margin: auto;
}

.body-contener textarea {
    padding: 20px;
    height: 80px;
    font-family: var(--mellis-base);
}

.body-contener .pin-input {
    min-height: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.body-contener .main-form,
.body-contener .pin-input {
    margin-bottom: 20px;
    width: 100%;
}

.body-contener .pin-input h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 50px;
}

.body-contener .lead {
    padding: 20px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
}

.body-contener .pin-input input {
    text-align: center;
    font-size: 16px;
}

.body-contener li {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.body-contener .pin-input ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.body-contener .pin-input li {
    width: 23%;
    padding: 0;
}

.body-contener .mx-file-upload .drop {
    width: 100%;
    padding: 14px 25px;
}

/* ====  WAP CSS END    ============================================== */
.login-page .container {
    padding: 0;
}

.login-page .img-box {
    width: 100%;
    float: left;
    height: 600px;
    padding-top: 80px;
}

.login-page .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.mobile-view {
    display: flex;
    flex-flow: column;
    width: 100%;
    max-width: 414px;
    margin: auto;
    height: 100svh;
    /* box-shadow: 0 0 0 1px #ddd; */
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.mobile-view .logo {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-view .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-view .logo img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.login-logo {
    width: 120%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
}

.login-logo h4 {
    display: inline-block;
    font-size: 20px;
    color: #157bba;
    font-weight: 600;

    position: relative;
    z-index: 2;
    text-align: center;
}

.login-logo::before {
    content: "";
    display: inline-block;
    background-color: #f4f5f8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
}

.login-logo img {
    width: 280px;
    z-index: 2;
    margin-bottom: 30px;
}

.mobile-view h3 {
    display: inline-block;
    font-size: 16px;
    color: #157bba;
    margin: 20px 0;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
    padding-left: 15px;
    font-family: var(--mellis-font);
}

.wrap-form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 40px;
    padding: 0;
}

.wrap-data {
    padding: 0 15px;
}

.tbl-form {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.tbl-form li {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.login-page .tbl-form li {
    width: 23%;
    flex-flow: nowrap;
}

.tbl-form li label {
    display: none;
}

.tbl-form li input {
    width: 100%;
    line-height: 70px;
    border: 1px solid #dddddd;
    font-size: 14px;
    color: #000;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    padding: 0 20px;
}

.login-page input[type="text"],
.login-page input[type="password"] {
    min-height: 70px;
    padding: 8px 0;
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
}

.login-page,
.page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.btn1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    width: 100%;
    font-size: 18px;
    background-color: #157bba;
    color: #fff;
    padding: 12px 30px;
    border-radius: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.fa-save::before {
    display: none;
}

.btn1:hover {
    color: #fff;
    background-color: #4b8db6;
}


/* home */
/* .page.home{align-items: flex-start;}
.page.home .container{padding: 0;} */
.banner {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

.banner img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.tab-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.tab-list li {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0;
    padding: 10px;
    overflow: hidden;
    /* height: 175px; */
}

.tab-list li .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, -0.81)
}

.tab-list li h4 {
    font-size: 18px;
    font-family: var(--mellis-font);
    font-weight: 600;
    line-height: 27px;
    color: #4b8db6;
    text-transform: uppercase;
    text-align: center;
}

.tab-list li .content:hover {
    background-color: #4b8db6;
}

.tab-list li .content:hover h4 {
    color: #fff;
}

.home .container {
    padding-top: 0;
}

.info {
    width: 100%;
    text-align: center;
    padding-top: 160px;
}

.info h2 {
    width: 100%;
    font-family: var(--mellis-font);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info p {
    width: 100%;
    font-family: var(--mellis-font);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.home .login-logo {
    margin-bottom: 15px;
}

.profile {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}

.profile span {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    background-color: red;
}

.home .tab-list li {
    width: 100%;
}

.home .tab-list li h4 {
    color: #fff;
}





/* apply  lave */
.Specifications .container {
    padding-top: 0px;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-bottom: 30px;
}

.lead .btn-wrapper {
    padding: 0;
}

.btn-wrapper h3 {
    font-family: var(--mellis-font);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    color: #157bba;
}

.Specifications .btn-wrapper p,
.lead .btn-wrapper p {
    font-size: 14px;
    width: 100%;
    line-height: normal;
    text-align: left;
}

.product__showing-result {
    justify-content: center;
}


.body-contener .btn-wrapper .thm-btn {
    padding: 8px;
    min-width: 120px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    justify-content: space-between;
}

.body-contener .btn-wrapper .thm-btn.apply::after {
    content: '';
    margin-left: 10px;
    background-image: url(../images/icons/apply.png);
    background-size: 14px;
    height: 2.0em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1;
    display: inline-block;
}

.body-contener .btn-wrapper .thm-btn.list::after {
    content: '';
    margin-left: 10px;
    background-image: url(../images/icons/apply.png);
    background-size: 14px;
    height: 2.0em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1;
    display: inline-block;
}

/* popup */
.webapp div.mxdialog {
    width: 414px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 15px;
}

.webapp div.mxdialog div.body {
    max-width: 80%;
    min-width: auto;
    text-align: left;
}

.webapp div.mxdialog div.content {
    font-size: 14px;
    line-height: 18px;
    font-family: var(--mellis-font);
}

.webapp div.mxdialog h2 {
    font-family: var(--mellis-font);
}

.webapp .mx-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.webapp div.mxdialog .thm-btn {
    padding: 0;
    margin: 0 5px;
    width: 120px;
    padding: 7px 0;
}


.blog-details h3 {
    width: 100%;
    display: block;
    margin: 30px 0;
    text-align: center;
}

.blog-details .img-box {
    max-width: 800px;
    margin: 0 auto 40px;
}

.blog-details .img-box img{
    width: 100%;
    height: auto;
    display: block;
}
.blog-details > .container{padding-top: 140px;}


@media screen and (max-height: 800px) {

    /* .container {
        padding-top: 140px;
    } */

    .login-logo {
        height: 200px;
    }

    .login-logo img {
        width: 240px;

    }

    .login-logo::before {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    .login-page .img-box {
        height: 510px;
        padding-top: 40px;
    }

    /*  .page.home .container{padding-top: 0px;} */
    /*   .tab-list li{height: 140px;}  */
    .footer-logo img {
        width: 110px;
    }

    .page.heridetrial .container,
    .page.symptom .container,
    .page.visit .container {
        padding-top: 0px;
    }

    .plus {
        bottom: 100px;
    }
}

@media screen and (max-width: 480px) {

    .login-page .img-box {
        height: 460px;
        padding-top: 40px;
    }

    .info {

        padding-top: 200px;
    }

    .webapp div.mxdialog div.body {
        padding: 20px 15px;
    }
    .blog-details > .container{padding-top: 15px;}
}