<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Set environment variable for redirects
    RewriteRule .* - [E=REDIRECT_STATUS:301]
    
    # Original rules
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php [L]
</IfModule>
